<% if flash[:notice] %>
     <p id="notice">
       <%= flash[:notice] %>
     </p>
<% end %>
<p><strong>Title: </strong><%= @book.title %></p>
<p><strong>Body: </strong><%= @book.body %></p>

<p class="exception"><%= link_to "Edit", edit_book_path(@book), class: "nav-link" %> | <%= link_to "Back", books_path, class: "nav-link" %></p>
